html { 

}
.center{
    text-align: center;
    align-content: center;
}
head{
    background: lightpink;
    border: 200px;

}
body { 
    background: #FFFFFF;
    width: auto;
    margin: auto;
    padding: 2rem;
    background-image: url("MeyersC_BackgroundImage.jpeg");
    background-size: cover;    

}
h1 {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

h2{
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

}
header {
    background: lightpink;
    border: auto;
    text-align: center;
    
}

ul{
    list-style-type: none;
    background-color: lightpink;
    border: 2px solid black;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
li{

    float: left;
}
li.right{
    float: right;
}

li a {
    color: black;
    display:block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
li a:hover:not(.active){
    background-color: lightyellow;
}
li a.active{
    background: lightgreen;
    border: 1px solid black;

}
a.portfolio{
    background: none;
    color: darkblue;
    border: none;
    padding: none;
    text-decoration: underline;
    font-family: 'Arvo', serif;
}

@media screen and (max-width: 800px) {
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: lightpink;
     width: 200px;
     align-content: center;
}
li{
    float:none;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid black;
    
}

li a:hover:not(.active) {
    background-color: lightyellow;

}

li.right{
    float:none;
}
}
p{
    font-family: 'Arvo', serif;
}

table {
  border-collapse: separate;
  border-spacing: 4px;
}

table,
th,
td {
  border: 1px solid #cecfd5;
}

th,
td {
  padding: 10px 15px;
}

img{
    width: 500px;
}
